* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    height:100vh;
}

@font-face {
  font-family: "volvo";
  src: url("../fonts/volvoIcon/Flaticon.eot");
  src: url("../fonts/volvoIcon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/volvoIcon/Flaticon.woff") format("woff"),
       url("../fonts/volvoIcon/Flaticon.ttf") format("truetype"),
       url("../fonts/volvoIcon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "volvo";
    src: url("../fonts/volvoIcon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="volvo-"]:before, [class*=" volvo-"]:before,
[class^="volvo-"]:after, [class*=" volvo-"]:after {   
  font-family: volvo;
        font-size: 20px;
font-style: normal;
}

.volvo-checked:before { content: "\f100"; }
.volvo-edit:before { content: "\f101"; }
.volvo-envelope:before { content: "\f102"; }
.volvo-eye:before { content: "\f103"; }
.volvo-home:before { content: "\f104"; }
.volvo-padlock:before { content: "\f105"; }
.volvo-phone-call:before { content: "\f106"; }
.volvo-placeholder:before { content: "\f107"; }
.volvo-plus-button:before { content: "\f108"; }
.volvo-rubbish-bin:before { content: "\f109"; }
.volvo-transport:before { content: "\f10a"; }
.volvo-user:before { content: "\f10b"; }
.volvo-voucher:before { content: "\f10c"; }


body {
    background-color:#efebe9;
    min-height:100vh;
    padding: 100px 0 0;
    position:relative;
}

#adminNav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:99;
}

#adminNav li {
    position:relative;
}
#responsive-nav {
    z-index:999;
    text-align:center;
}
#responsive-nav li:nth-of-type(1) a{
    height:75px;
    line-height:75px;
}

/*
.page-footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
*/

.navLogo {
    height:60px;
    width:60px;
}
.dropdown-button i {
    transition:all 0.4s;
}
.dropdown-button.active i{
    transform:rotate(180deg);
}
.dropdown-content {
    top:100% !important;
}
.dropdown-content a:hover {
    color:#795548 !important;
}
.logoImg {
    max-height:150px;
}

.formH {
    padding:10px 0;
    border-bottom:solid 1px #424242;
    margin:25px 0 15px;
}

.validBox {
    margin: 20px 0;
}

.collapsible-header .row {
    margin:0;
}
.collapsible-header {
    background-color:#f3f3f3;
}
.collapsible-body {
    background-color:#f3f3f3;
}
.collapsible .collection {
    margin:10px 0;
}

.collection-item {
    background-color:rgba(255,255,255,0.2);
}

.collection-item:not(:first-child) {
    border-bottom:solid 1px #999999;
}
.collection-item:not(:last-child) {
    border-bottom:solid 1px #999999;
}
.modal-footer {
    border-top:solid 1px #999999;
}